root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true
csharp_style_namespace_declarations = file_scoped
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true
dotnet_sort_system_directives_first = true

[*.{axaml,xaml}]
indent_style = space
indent_size = 2

[*.{csproj,props,targets,json,slnx}]
indent_style = space
indent_size = 2

[*.{sh,py}]
indent_style = space
indent_size = 4
